@use "sass:map";
$main_bg: #0e1014;
$button: #4077f3;
$red_light: #961a1a;
$color_light: #e4e5ea;
$dark_grey: #656566;

$gradient_title: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
$gradient_header: linear-gradient(#fcb045, #ff3f78);

$typography1: (
 font-size: 48px,
 font-style: normal,
 font-weight: 400,
);
$typography2: (
 font-size: 18px,
 font-style: normal,
 font-weight: 500,
);

$typography3: (
 font-size: 18px,
 font-style: normal,
 font-weight: 400,
);
$typography4: (
 font-size: 16px,
 font-style: normal,
 font-weight: 500,
);
$typography5: (
 font-size: 16px,
 font-style: normal,
 font-weight: 400,
);
$typography6: (
 font-size: 12px,
 font-style: normal,
 font-weight: 400,
);
$typography7: (
 font-size: 10px,
 font-style: normal,
 font-weight: 300,
);
